<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	
	<head>
		<title>Edit-profile</title>
	    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

	</head>
	<body>
		
	<header>
	      <nav class="navbar navbar-dark bg-dark" aria-label="Dark offcanvas navbar">
          <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/dashboard}">NITCONF</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbarDark" aria-controls="offcanvasNavbarDark">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasNavbarDark" aria-labelledby="offcanvasNavbarDarkLabel">
              <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarDarkLabel">Profile</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
              </div>
              <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/profile}">View Profile</a>
                  </li>
                  <br>
    
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                       Sign Out
                    </a>
                    <ul class="dropdown-menu">
                      <li>
						  <form method="POST" th:action="@{/logout}">
                               <input class="btn" type="submit" value="Logout"/>
                          </form>
                      </li>
                    </ul>
                  </li>
                </ul>
            
              </div>
            </div>
          </div>
        </nav>
</header> 

		
		<main>
			<div class="container w-50">
	
				<h2 class="mt-4">EDIT PROFILE</h2>

				<div class="row">
					<div class="col-md-9">
						<form class="mt-3 form" method="post">
							<label class="form-label" for="username" >Username:</label>
							<input class="form-control bg-light" name="username" id="username" placeholder="--" readonly="readonly">
							<br>
							<label class="form-label" for="name">Name:</label>
						    <input class="form-control" name="name" id="name" placeholder="Enter your name here">
						    <br>
						    <label class="form-label" for="contactno">Contact No:</label>
						    <input class="form-control"  name="contactno" id="contactno" placeholder="Enter your contact No" >
						    <br>
							  <label for="bio">Bio</label>
							  <textarea class="form-control" placeholder="Enter you bio here" name="bio" id="bio" ></textarea>			
							<br>
							
							<div>
							    <p>Tags:</p>
							    <div class="form-check" id="tags" name="tags">
							        <div>
							            <input class="form-check-input" type="checkbox" value="hello"/>
							            <label class="form-check-label" text="hello">hello</label>     
							        </div>
							    </div>
							</div> 

							<br>
                           <div class="d-flex justify-content-center">
							<button class="btn btn-primary" type="submit">Submit</button>
							<a id="cancel"><button  type="button" class="btn btn-danger mx-4">Cancel</button></a>
						   </div>
					    </form>
			      </div>
				</div>
			    
		    </div>
		</main>
		
       <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
	   <script>
		    
		    const token = localStorage.getItem("token") 
		    
		    async function displayUserDetails(token)
		    {
				const user = await getUserDetails()
				const allTags = await getAllTags()
				//console.log(allTags)
				//console.log(user)
				setUserDetails(user,allTags)
			}
		    
		    function setUserDetails(data , allTags)
		    {
				   document.getElementById("username").setAttribute("value" , data.username);
				   //username will always be valid 
				   
				   if(data.name)
				   document.getElementById("name").setAttribute("value" , data.name);
				   
				   if(data.contactno)
				   document.getElementById("contactno").setAttribute("value" , data.contactno);
				   
				   if(data.bio)
				    document.getElementById("bio").textContent = data.bio;    // what to do if it is null
				   
				   
				   //console.log(allTags)
				   var innerHtml = ''
				   for(let i=0;i< allTags.length;i++)
				   {
					   var name = allTags[i].name
					   var id   = allTags[i].id
					   
					   if(isPresent(allTags[i],data.tags))
					   {
						   innerHtml += `<div>
				                           <input class="form-check-input" type="checkbox" id=${id} value="${name}" checked/>   
				                           <label class="form-check-label" for=${id}>${name}</label>     
				                         </div>`
					   }
					   else{
						   
						   innerHtml += `<div>
				                           <input class="form-check-input" type="checkbox" id=${id} value="${name}"/>   
				                           <label class="form-check-label" for=${id}>${name}</label>     
				                         </div>`
					   }
					   
		               
				        //not added tag_ prefix for id
				   }
				   
				   //console.log(innerHtml)
				   document.getElementById("tags").innerHTML = innerHtml
				   
				   
			}
			
			function isPresent(tag,tags)
			{
				for(let i =0;i<tags.length;i++)
				{   
					if(tag.id == tags[i].id)
					  return true
				}
				
				return false
			}
			
			
			async function getAllTags()
		   {   
			   
			  const tags =  await getDataFromURL('http://localhost:8080/api/all-tags')
			  return tags;
		   }
			
			
		    
		    async function getUserDetails()
		   {   
			   
			  const user =  await getDataFromURL('http://localhost:8080/api/get-profile')
			  return user;
		   }
		   
		   async function getDataFromURL(url)
		   {
			  const data = await fetch(url, 
			   {
				   method : `GET`,
				   headers: {
						 'Content-Type' : `application/json`,
						 'Authorization': `Bearer ${token}`
				   }
			    }) 
			    .then(res => res.json())    //return res.json  which is json
				.then(data =>{
					  
					  return data
				      
				 }).catch((error) => {
					 
					  console.log(error);   // error handling
			     });
			     
			  return data;
			     
		   }
		   
		    displayUserDetails(token)
			
			const form = document.querySelector('.form');
			form.addEventListener('submit', event => {
				
			  event.preventDefault();
			  const formData = new FormData(form);
			  
			  
			  
			  const tagCheckboxes = document.querySelectorAll('.form-check-input');
			  const selectedTags = [];
			  tagCheckboxes.forEach(checkbox => {
			    if (checkbox.checked) {
			      const tag = {
			        id: checkbox.id,
			        name: checkbox.value
			      };
			      
			      selectedTags.push(tag);
			    }
			  });
			
			 //formData.append("tags",selectedTags)
			 
			  let data = Object.fromEntries(formData)
			  data["tags"] = selectedTags
			  
			  
			  
			 /* console.log(data)
			  
			  data = {
					    "username": "tarun",
					    "password": "$2a$12$MZxSHBcm7xWEPRSaRxMSuOglVI16I.ZDFgkKS.e4fpNaOlY3U2Alq",
					    "name": "tarun MALLA",
					    "contactno": null,
					    "bio": "iam interested",
					    "tags": [
					        {
					            "name": "Machine Learning",
					            "id": 1
					        }
					    ]
					    
					}
			  console.log(data)*/
			  
			 
			
	         // Convert FormData to object

			  fetch('http://localhost:8080/api/edit-profile', {
			    method: 'POST',
			    headers: {
			      'Content-Type' : 'application/json',
			      'Authorization' : `Bearer ${token}`,
			    },
			    body: JSON.stringify(data) // Send data as JSON string
			  })
			  .then(res => res.json()) // Handle response (assuming JSON)
			  .then(data => {
				  
				 const url = `http://localhost:8080/api/profile?token=${token}`
				 window.location.href = url
			    // Handle successful data submission
			  })
			  .catch(error => {
			    console.error("Error sending data:", error);
			  });
			});
			
			
			document.getElementById("cancel").setAttribute("href", `/api/profile?token=${token}`)

		   
		   
		   
          

		   
		   
	   </script>
	</body>
</html>