<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
	<head>
		<title>Log In</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	</head>
	<body>
		
		<header>
	      <nav class="navbar navbar-dark bg-dark" aria-label="Dark offcanvas navbar">
          <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/dashboard}">NITCONF</a>
          </div>
        </nav>
      </header>
		
      <div class="container w-25 my-5 bg-light ">
			
			<br>
		   
			<div class="mb-3">
				<h3 class="font-weight-normal">Login</h3>
			</div>
        
        <div class="row"> 
			<div class="col-md-10">
		    <form method="post"  action="/api/dasboard">
				
				<label class="form-label" for="email">Username</label>
				<input class="form-control" type="text" name="email" placeholder="Enter your username">
				<br>
				<label class="form-label" for="password">Password</label>
				<input class="form-control" type="password" name="password" placeholder="Enter your Password">
				<br>
				<p class="text-danger d-none" id="invalid">Invalid Credentials</p>
		 	    <button class="btn btn-primary" type="submit" >Login</button>  
			    <br><br>
			</form>
			</div>
		
		</div>
	      
		</div>
		
		<script>
			    const loginForm = document.querySelector('form');
			    loginForm.addEventListener('submit' , event => {
				event.preventDefault();
				const formData = new FormData(loginForm);
				const data =  Object.fromEntries(formData);
				 
			    fetch('http://localhost:8080/api/login',{
					 method : 'POST',
					 headers: {
						 'Content-Type' : 'application/json'
					 },
					 body: JSON.stringify(data)
					 
				 }).then(res => res.json())
				   .then(data =>{
					   
					  const token = data.token;
					  localStorage.setItem("token", token)
					  const url = `http://localhost:8080/api/dashboard?token=${token}`;
					  console.log(url)
					   window.location.href = url;
				      // window.location.assign("dashboard.html");
				     })
					 .catch((error) => {
						  console.error(error);
						});
			          //token needed here store it in http header
			        })
				   .catch(error =>{ 
					 var element = document.getElementById("invalid");
			         element.classList.remove("d-none");
					 console.log(error)
				   });
				   
				   
				   /*function login()
				   {
					  console.log("hello")
					 const element =  document.getElementById("email")
					 const username = element.value
					  localStorage.setItem("usename",username) 
				   }*/
				   
			
 
		</script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		
	</body>
</html>