<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
	<head>
		<title>Sign up</title>
	</head>
	<body>
		<h1>Please Sign up</h1>
	
	<div class="container">
		<form th:action="@{/login}" method="post">
			<div>
			<input type="text" th:field="${form.username}" placeholder="Enter your Username"/>
			</div>
			<div>
			<input type="password" th:field="${form.password}" placeholder="Enter your Password"/>
			</div>
			<input type="submit" value="Sign in" />
		</form>
	</div>
	</body>
</html>