<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>

    <header>
        <nav class="navbar navbar-dark bg-dark" aria-label="Dark offcanvas navbar">
            <div class="container-fluid">
                <a class="navbar-brand" th:href="@{/dashboard}">NITCONF</a>

               <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbarDark" aria-controls="offcanvasNavbarDark">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasNavbarDark" aria-labelledby="offcanvasNavbarDarkLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasNavbarDarkLabel">Profile</h5>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" th:href="@{/profile}">View Profile</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Sign Out
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <form method="POST" th:action="@{/logout}">
                                            <input class="btn" type="submit" value="Logout"/>
                                        </form>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                
         <!--  <div class="dropdown px-2">
            <a th:href="@{/profile}" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
					  <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
					  <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
					</svg>
                <strong class="ms-2">profile</strong>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark text-small shadow py-2 min-width-rem" aria-labelledby="dropdownUser1">
                <li class="nav-item pt-2 px-2">
                                <a class="nav-link active" aria-current="page" th:href="@{/profile}">View Profile</a>
                            </li>
                
                                    <li class="nav-item pt-2 px-2">
                                        <form method="POST" th:action="@{/logout}">
                                            <input class="btn text-danger" type="submit" value="Logout"/>
                                        </form>
                                    </li>
                                </ul>
                            
            
        </div>-->
                
            </div>
        </nav>
    </header>

    <main>
        <div class="container-fluid overflow-hidden">
            <div class="row vh-100 overflow-auto">
                <div class="col-12 col-sm-3 col-xl-2 px-sm-2 px-0 bg-dark d-flex position-sticky">
                    <div class="d-flex flex-sm-column flex-row flex-grow-1 align-items-center align-items-sm-start px-3 pt-2 text-white">
                        
                        <hr>
                        <hr>
                        <ul class="nav nav-pills flex-column mb-auto">
                            <li>
                                <a th:href="@{/to-review}" class="nav-link text-white">
                                    ToReview
                                </a>
                            </li>
                            <li>
                                <a th:href="@{/drafts}" class="nav-link text-white">
                                    Drafts
                                </a>
                            </li>
                            <li>
                                <a th:href="@{/submissions}" class="nav-link text-white">
                                    Submissions
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-12 col-sm-9 col-xl-10 px-5 pt-5">
				   <div class="text-center container mb-3">
						<p class="h2 fw-bolder"> Review Form</p>
			       </div>
			   
			       <br>
				
				<div class="d-flex justify-content-center">
					
                    <div class="container w-75 ">
                        <div class="row">
                            <div class="col-md-8 border-right-0  bg-white bg-gradient">
                               <div class="m-2">
                                <strong><span class="h6 d-inline">Paper Id:</span></strong> <span class="fw-light" th:text="${review.paper.id}"></span><br>
                               </div>
                               <div class="m-2 ">
                                <strong><span class="h6 ">Paper Name:</span></strong> <span class="fw-light" th:text="${review.paper.name}"></span>
                               </div>
                               
                            </div>
                            <div class="col-md-4 bg-white bg-gradient">
                                <div class="m-2">
                                    <span class="h6 d-inline">Reviewer:</span> <span th:text="${review.user.name}"></span><br>
                                </div>
                            </div>
                         </div>
                          
                        <br><br>
                        
                     <form method="post" th:action="@{/review(action=update,id=${review.paper.id})}">
                        <div class="row">
							<div class="col-md-8 border bg-light bg-gradient">
								<p class="m-2 fw-bold">Evalution Category</p>
							</div>
							<div class="col-md-4 border bg-light bg-gradient">
								<p class="m-2 fw-bold">Enter your Score(out of 10)</p>
							</div>
						</div>
						
						
						
						<div class="row">
							<div class="col-md-8  border bg-light bg-gradient">
								<p class="m-2 fw-normal">Technical Content and Accuracy</p>
							</div>
							
							<div class="col-md-4 border bg-light bg-gradient">
								<div class="d-flex justify-content-center">
								   <input class="form-control border-0  bg-light bg-gradient" min=0 max=10  th:value="${reviewForm.technical}" th:field="${reviewForm.technical}" type="number">
								</div>
							</div>
							
						</div>
						
						<div class="row">
							<div class="col-md-8  border bg-white bg-gradient">
								<p class="m-2 fw-normal">Significance od the Work</p>
							</div>
							
							<div class="col-md-4 border bg-white bg-gradient">
								<div class="d-flex justify-content-center">
								   <input class="form-control border-0  bg-light bg-gradient" min=0 max=10  th:value="${reviewForm.significance}" th:field="${reviewForm.significance}" type="number">
								</div>
							</div>
							
						</div>
						
						<div class="row">
							<div class="col-md-8  border bg-light bg-gradient">
								<p class="m-2 fw-normal">Appropriate Title, Introduction and Conclusion</p>
							</div>
							
							<div class="col-md-4 border bg-light bg-gradient">
								<div class="d-flex justify-content-center">
								   <input class="form-control border-0  bg-light bg-gradient"min=0 max=10  th:value="${reviewForm.appropriate}" th:field="${reviewForm.appropriate}" type="number" >
								</div>
							</div>
							
						</div>
						
						<div class="row">
							<div class="col-md-8  border bg-white bg-gradient">
								<p class="m-2 fw-normal">Overall Organization</p>
							</div>
							
							<div class="col-md-4 border bg-white bg-gradient">
								<div class="d-flex justify-content-center">
								   <input class="form-control border-0  bg-light bg-gradient" min=0 max=10  th:value="${reviewForm.organization}" th:field="${reviewForm.organization}" type="number"> 
								</div>
							</div>
							
						</div>
						
						
						
						<div class="row">
							<div class="col-md-8  border bg-light bg-gradient">
								<p class="m-2 fw-normal">Style and Clarity of Paper</p>
							</div>
							
							<div class="col-md-4 border bg-light bg-gradient">
								<div class="d-flex justify-content-center">
								   <input class="form-control border-0  bg-light bg-gradient" min=0 max=10  th:value="${reviewForm.style}" th:field="${reviewForm.style}" type="number">
								</div>
							</div>
							
						</div>
						
						<div class="row">
							<div class="col-md-8  border bg-white bg-gradient">
								<p class="m-2 fw-normal">Originality of Content</p>
							</div>
							
							<div class="col-md-4 border bg-white bg-gradient">
								<div class="d-flex justify-content-center">
								   <input class="form-control border-0  bg-light bg-gradient" min=0 max=10  th:value="${reviewForm.originality}" th:field="${reviewForm.originality}" type="number">
								</div>
							</div>
							
						</div>
						
						<div class="row">
							<div class="col-md-8  border bg-light bg-gradient">
								<p class="m-2 fw-normal">Referee's Confidence in Paper's Subject</p>
							</div>
							
							<div class="col-md-4 border bg-light bg-gradient">
								<div class="d-flex justify-content-center">
								   <input class="form-control border-0  bg-light bg-gradient" min=0 max=10  th:value="${reviewForm.refeersConfidence}" th:field="${reviewForm.refeersConfidence}" type="number">
								</div>
							</div>
							
						</div>
						
						<div class="row">
							<div class="col-md-8  border bg-white bg-gradient">
								<p class="m-2 fw-normal">Overall Recommendation</p>
							</div>
							
							<div class="col-md-4 border bg-white bg-gradient">
								<div class="d-flex justify-content-center">
								   <input class="form-control border-0  bg-light bg-gradient" min=0 max=10  th:value="${reviewForm.overall}" th:field="${reviewForm.overall}" type="number">
								</div>
							</div>
							
						</div>
						
						<br>
						<hr>
						
						<h4>Comments and Recommendations</h4>
						 <textarea class="form-control" rows=8 th:value="${reviewForm.comment}" th:field="${reviewForm.comment}" placeholder="Enter you Comments here"></textarea>
						 <div class="container d-flex flex-row-reverse">
							
					         <input class="btn btn-success m-3"  th:formaction="@{/review(action=save,id=${review.paper.id})}" type="submit" value="Submit"> 
					          <input class="btn btn-secondary m-3" type="submit" value="Save to Draft">
						 </div>
						 
					 </form>	
               
                    
                    
                      </div>
                   </div>
                   
                </div>
            </div>
        </div>        
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous">
    </script>

</body>

</html>
