<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
    <!-- <meta charset="UTF-8"> -->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title>Submissions</title>
    <!-- Bootstrap CSS link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
		ul .delete a:hover, ul  a:focus {
               color:red;

           }
    </style>
</head>

<body>
    <header>
        <nav class="navbar navbar-dark bg-dark" aria-label="Dark offcanvas navbar">
            <div class="container-fluid">
                <a class="navbar-brand" th:href="@{/dashboard}">NITCONF</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbarDark" aria-controls="offcanvasNavbarDark">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasNavbarDark" aria-labelledby="offcanvasNavbarDarkLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasNavbarDarkLabel">Profile</h5>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" th:href="@{/profile}">View Profile</a>
                            </li>
                            <br>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Sign Out
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <form method="POST" th:action="@{/logout}">
                                            <input class="btn" type="submit" value="Logout" />
                                        </form>
                                    </li>
                                </ul>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
        </nav>
        
    </header>

       <div class="text-center my-5">
		    <h1>Submissions</h1>
	   </div>
	   
	   <div class="container-md w-60">
			 <div class="row bg-light bg-gradient">
				<div class="col-md-1 border text-center  py-2">
					<p class="h6 font-weight-normal">Submission id</p>
				</div>
				<div class="col-md-5 border text-center  py-2">
					<p class="h6 font-weight-normal">Paper Name</p>
				</div>
				<div class="col-md-2 border text-center  py-2">
					<p class="h6 font-weight-normal">Deadline</p>
				</div>
				<div class="col-md-2 border text-center  py-2">
					<p class="h6 font-weight-normal">submission date</p>
				</div>
				<div class="col-md-2 border text-center  py-2">
					<p class="h6 font-weight-normal">Actions</p>
				</div>
		    </div>
          
           
          <div class="row">
            <div class="col-md-1 border py-2">
				<p class="d-inline">#</p> <p class="h6 d-inline">1</p>
			</div> 
            <div class="col-md-5 border py-2">
				<p class="h6 font-weight-normal">sample submission</p>
				<br>
				<a target="_blank" ><button class="btn btn-info mx-1">View Paper</button></a>
				<a target="_blank"><button class="btn btn-secondary mx-1">View Review</button></a>
			</div>
			<div class="col-md-2 border py-2 text-center">
				<p class="h6 font-weight-normal">06/07/2024</p>
			</div>
			<div class="col-md-2 border py-2 text-center">
				<p class="h6 font-weight-normal">06/02/2024</p>
			</div>
			
            <div class="col-md-2 border py-2" > 
				<div class="btn-group mx-4 my-3">
					  <button class="btn btn-secondary btn-lg" type="button">
					    actions
					  </button>
					  <button type="button" class="btn btn-lg btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
					    <span class="visually-hidden">Toggle Dropdown</span>
					  </button>
					  <ul class="dropdown-menu">
						   <!-- <li><a class="dropdown-item" href="#">View paper</a></li>
						    <li><a class="dropdown-item" href="#">view review</a></li> -->
						    <li><a class="dropdown-item" href="#">Edit Review</a></li>
						    <li><hr class="dropdown-divider"></li>
							<li class="delete"><a class="dropdown-item text-danger"  href="#">Delete</a></li>
	
						   
					   </ul>
				</div>   
            </div>  
            
        </div>
      </div>
        
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
     
</body>

</html>
